@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lulo Clean W01 One Bold";
  src: url("/fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  /* overflow: hidden; */
}

/* h1 {
  font-family: "Lulo Clean W01 One Bold";
} */

.h-screen {
  min-height: 100vh;
}

.video-container {
  min-height: 100vh;
  background-color: #22376f;
  width: 100%;
  position: fixed;
  z-index: -1;
}
#background-video {
  /* height: 100%; */
  width: 100%;
  float: left;
  top: 0;
  z-index: -1;
  padding: none;
  min-height: 311px;
  margin-top: -2%;
  position: fixed; /* optional depending on what you want to do in your app */
}

.bg-custom {
  background-color: #0d1431e0;
}

.margin-stats {
  margin-top: 3.5rem;
}
